
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  box-sizing: border-box;
}
body, body,div,span,h1, h2, h3, h4, h5, h6, p,form,label,embed,video,article,aside,header{
  margin: 0;
  padding: 0;
  border:0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1,h2,h3,h4,h5,h6{
  margin-top: 0;
}
a, a:hover, a:visited, a:focus{
  text-decoration: none;
  outline: none;
}
ol, ul {
	list-style: none;
}
